In [6]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
from sklearn.model_selection import train_test_split
'''
Билет 13
Первое надо проверить данные на пропуски чтобы избавиться от строк ибо они не могут участвовать в математическом уравнении
Далее котегориальные признаки можно для каждого выделить новую колонку и поставить логическое значение пренадлежности 1 или 0 (да или нет)
Каждое уникальное значение получит свою колонку, в моем примере удалены все строковые данные
Далее разделить данные на тестовые(для проверки модели) и тренровочные(для получения коэффицентов при обучении модели)
Проверять модель можно только на данных не бывалых на обучении
Обучить модель и проверить ее ответы сравнив с правильными
Найти разницу между правдой и отданными ответами от модели и получить коэффицент ее правильности
Судя по коэффиценту можно сказать о 60% точности, однако она может быть повышена(а может и понижена) за счет
не учитывания признаков которые слабо влияют на результат(коэффиценты которых близки к нулю)
Также низкая точность оправдывается слабым влиянием всех признаков
'''
df = pd.read_csv("https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/%D0%92%D0%B5%D1%81%D0%B5%D0%BD%D0%BD%D0%B8%D0%B9%20%D1%81%D0%B5%D0%BC%D0%B5%D1%81%D1%82%D1%80/%D0%9A%D0%BE%D0%BB%D0%BB%D0%BE%D0%BA%D0%B2%D0%B8%D1%83%D0%BC/bestsellers%20with%20categories.csv")
# categorial Year Rating

df["User Rating"].unique()
df.Year.unique()
df

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [7]:
df = df.drop(columns = 'Name', axis = 1)
df = df.drop(columns = 'Author', axis = 1)
#df = pd.get_dummies(df, columns=['Year'])
#df[df["Genre"]=="Non Fiction"] = 0 
#df[df["Genre"]=="Fiction"] = 1
df = pd.get_dummies(df, columns = ['Year', "User Rating", "Genre"])

df["Genre"]= df["Genre_Fiction"] - df["Genre_Non Fiction"]
df = df.drop(columns = 'Genre_Fiction', axis = 1)
df = df.drop(columns = 'Genre_Non Fiction', axis = 1)
df

,Reviews,Price,Year_2009,Year_2010,Year_2011,Year_2012,Year_2013,Year_2014,Year_2015,Year_2016,...,User Rating_4.1,User Rating_4.2,User Rating_4.3,User Rating_4.4,User Rating_4.5,User Rating_4.6,User Rating_4.7,User Rating_4.8,User Rating_4.9,Genre
0,17350,8,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,255
1,2052,22,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
2,18979,15,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,255
3,21424,6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,7665,12,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,255
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545,9413,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
546,14331,8,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,255
547,14331,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,255
548,14331,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,255
549,14331,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,255

In [8]:
X = df.drop(columns = 'Genre', axis = 1)
y = df.Genre
X_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

model = LogisticRegression()

model.fit(X_train, y_train)

answ_pred = model.predict(x_test)

In [9]:
print(accuracy_score(y_test,answ_pred))

0.6303030303030303

In [13]:
model.coef_

array([[-3.81920154e-05,  5.54521460e-02, -6.93022544e-05,
         1.09168724e-04,  1.17822305e-04,  1.94898459e-04,
         2.97503081e-04,  9.09199855e-05,  3.72120170e-04,
         3.44096026e-04,  1.04757078e-04,  3.09987901e-04,
         2.46861173e-04,  0.00000000e+00,  0.00000000e+00,
        -4.73064624e-05, -2.50849476e-05,  1.34104882e-04,
        -4.55207729e-05,  6.00356748e-05,  1.61232306e-04,
         2.23377401e-04,  7.29229763e-04,  7.83290655e-04,
         8.85335758e-04, -3.59050985e-04, -3.80810622e-04]])