In [1]:
from sklearn.preprocessing import LabelEncoder

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/%D0%92%D0%B5%D1%81%D0%B5%D0%BD%D0%BD%D0%B8%D0%B9%20%D1%81%D0%B5%D0%BC%D0%B5%D1%81%D1%82%D1%80/%D0%9A%D0%BE%D0%BB%D0%BB%D0%BE%D0%BA%D0%B2%D0%B8%D1%83%D0%BC/bestsellers%20with%20categories.csv")
df

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [9]:
df["Name"].value_counts()

Publication Manual of the American Psychological Association, 6th Edition       10
StrengthsFinder 2.0                                                              9
Oh, the Places You'll Go!                                                        8
The Very Hungry Caterpillar                                                      7
The 7 Habits of Highly Effective People: Powerful Lessons in Personal Change     7
                                                                                ..
Humans of New York : Stories                                                     1
Howard Stern Comes Again                                                         1
Homebody: A Guide to Creating Spaces You Never Want to Leave                     1
Have a Little Faith: A True Story                                                1
Night (Night)                                                                    1
Name: Name, Length: 351, dtype: int64

In [12]:
df = df.drop(["Name"],axis = 1)
df

                       Author  User Rating  Reviews  Price  Year        Genre
0                    JJ Smith          4.7    17350      8  2016  Non Fiction
1                Stephen King          4.6     2052     22  2011      Fiction
2          Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3               George Orwell          4.7    21424      6  2017      Fiction
4    National Geographic Kids          4.8     7665     12  2019  Non Fiction
..                        ...          ...      ...    ...   ...          ...
545               Jeff Kinney          4.9     9413      8  2019      Fiction
546               Jen Sincero          4.7    14331      8  2016  Non Fiction
547               Jen Sincero          4.7    14331      8  2017  Non Fiction
548               Jen Sincero          4.7    14331      8  2018  Non Fiction
549               Jen Sincero          4.7    14331      8  2019  Non Fiction

[550 rows x 6 columns]

In [13]:
df["Author"].value_counts()

Jeff Kinney                           12
Gary Chapman                          11
Rick Riordan                          11
Suzanne Collins                       11
American Psychological Association    10
                                      ..
Keith Richards                         1
Chris Cleave                           1
Alice Schertle                         1
Celeste Ng                             1
Adam Gasiewski                         1
Name: Author, Length: 248, dtype: int64

In [15]:
df = df.drop(["Author"],axis = 1)
df

     User Rating  Reviews  Price  Year        Genre
0            4.7    17350      8  2016  Non Fiction
1            4.6     2052     22  2011      Fiction
2            4.7    18979     15  2018  Non Fiction
3            4.7    21424      6  2017      Fiction
4            4.8     7665     12  2019  Non Fiction
..           ...      ...    ...   ...          ...
545          4.9     9413      8  2019      Fiction
546          4.7    14331      8  2016  Non Fiction
547          4.7    14331      8  2017  Non Fiction
548          4.7    14331      8  2018  Non Fiction
549          4.7    14331      8  2019  Non Fiction

[550 rows x 5 columns]

In [30]:
model =LabelEncoder()
model.fit(df["Genre"])
df["Genre"] = model.transform(df["Genre"])
df

     User Rating  Reviews  Price  Year  Genre
0            4.7    17350      8  2016      1
1            4.6     2052     22  2011      0
2            4.7    18979     15  2018      1
3            4.7    21424      6  2017      0
4            4.8     7665     12  2019      1
..           ...      ...    ...   ...    ...
545          4.9     9413      8  2019      0
546          4.7    14331      8  2016      1
547          4.7    14331      8  2017      1
548          4.7    14331      8  2018      1
549          4.7    14331      8  2019      1

[550 rows x 5 columns]

In [24]:
df.isna().sum()

User Rating    0
Reviews        0
Price          0
Year           0
Genre          0
dtype: int64

In [26]:
model1 = LogisticRegression()

In [28]:
x = df.drop(["Genre"],axis = 1)
y = df["Genre"]

In [31]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
model1 = LogisticRegression()
model1.fit(X_train, y_train)
pred = model1.predict(X_test)

In [38]:
accuracy_score(y_test,pred)

0.6484848484848484

In [40]:
confusion_matrix(y_test,pred)

array([[34, 31],
       [27, 73]])

In [41]:
recall_score(y_test,pred)

0.73

In [43]:
f1_score(y_test,pred)

0.7156862745098039

In [44]:
precision_score(y_test,pred)

0.7019230769230769

In [49]:
df["Genre"].value_counts()

1    310
0    240
Name: Genre, dtype: int64

In [76]:
pf = df.iloc[13:24,1:3]
pf

    Reviews  Price
13     5153      5
14     5013     17
15     2313      4
16     2925      6
17     2951      6
18     2426      8
19     9198     13
20    36348     14
21    36348     14
22     6310     13
23    15921      9

In [68]:
pf = df.drop(columns = ["User Rating",'Reviews',"Year"])
pf

KeyError: ignored

In [77]:
cf = df.copy()

In [79]:
df

     User Rating  Reviews  Price  Year  Genre
0            4.7    17350      8  2016      1
1            4.6     2052     22  2011      0
2            4.7    18979     15  2018      1
3            4.7    21424      6  2017      0
4            4.8     7665     12  2019      1
..           ...      ...    ...   ...    ...
545          4.9     9413      8  2019      0
546          4.7    14331      8  2016      1
547          4.7    14331      8  2017      1
548          4.7    14331      8  2018      1
549          4.7    14331      8  2019      1

[550 rows x 5 columns]

In [86]:
cf["Proizv"] = df["Reviews"] * df["User Rating"]
cf

     User Rating  Reviews  Price  Year  Genre    Proizv
0            4.7    17350      8  2016      1   81545.0
1            4.6     2052     22  2011      0    9439.2
2            4.7    18979     15  2018      1   89201.3
3            4.7    21424      6  2017      0  100692.8
4            4.8     7665     12  2019      1   36792.0
..           ...      ...    ...   ...    ...       ...
545          4.9     9413      8  2019      0   46123.7
546          4.7    14331      8  2016      1   67355.7
547          4.7    14331      8  2017      1   67355.7
548          4.7    14331      8  2018      1   67355.7
549          4.7    14331      8  2019      1   67355.7

[550 rows x 6 columns]