In [186]:
#У меня 15 вариант но так как его нет делаю 16

In [327]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_1/main/%D0%92%D0%B5%D1%81%D0%B5%D0%BD%D0%BD%D0%B8%D0%B9%20%D1%81%D0%B5%D0%BC%D0%B5%D1%81%D1%82%D1%80/%D0%9A%D0%BE%D0%BB%D0%BB%D0%BE%D0%BA%D0%B2%D0%B8%D1%83%D0%BC/train_oil.csv")

In [328]:
df.columns

Index(['Field name', 'Reservoir unit', 'Country', 'Region', 'Basin name',
       'Tectonic regime', 'Latitude', 'Longitude', 'Operator company',
       'Onshore/Offshore', 'Hydrocarbon type', 'Reservoir status',
       'Structural setting', 'Depth', 'Reservoir period', 'Lithology',
       'Thickness (gross average ft)', 'Thickness (net pay average ft)',
       'Porosity', 'Permeability'],
      dtype='object')

In [329]:
df[['Operator company','Onshore/Offshore']].iloc[10:16:]

          Operator company Onshore/Offshore
10              REPSOL YPF          ONSHORE
11                 BAPETCO          ONSHORE
12       BTA OIL PRODUCERS          ONSHORE
13  IMPERIAL OIL RESOURCES          ONSHORE
14            AMERADA HESS         OFFSHORE
15                   NEXEN         OFFSHORE

In [330]:
df.loc[10:16 ,['Operator company','Onshore/Offshore']]

          Operator company Onshore/Offshore
10              REPSOL YPF          ONSHORE
11                 BAPETCO          ONSHORE
12       BTA OIL PRODUCERS          ONSHORE
13  IMPERIAL OIL RESOURCES          ONSHORE
14            AMERADA HESS         OFFSHORE
15                   NEXEN         OFFSHORE
16                    ONGC         OFFSHORE

In [331]:
df.head(20)

,Field name,Reservoir unit,Country,Region,Basin name,Tectonic regime,Latitude,Longitude,Operator company,Onshore/Offshore,Hydrocarbon type,Reservoir status,Structural setting,Depth,Reservoir period,Lithology,Thickness (gross average ft),Thickness (net pay average ft),Porosity,Permeability
0,ZHIRNOV,MELEKESKIAN,RUSSIA,FORMER SOVIET UNION,VOLGA-URAL,COMPRESSION/EVAPORITE,51.0000,44.8042,NIZHNEVOLZHSKNET,ONSHORE,OIL,DECLINING PRODUCTION,FORELAND,1870,CARBONIFEROUS,SANDSTONE,262.0,33.0,24.0,30.0
1,LAGOA PARDA,LAGOA PARDA (URUCUTUCA),BRAZIL,LATIN AMERICA,ESPIRITO SANTO,EXTENSION,-19.6017,-39.8332,PETROBRAS,ONSHORE,OIL,NEARLY DEPLETED,PASSIVE MARGIN,4843,PALEOGENE,SANDSTONE,2133.0,72.0,23.0,350.0
2,ABQAIQ,ARAB D,SAUDI ARABIA,MIDDLE EAST,THE GULF,COMPRESSION/EVAPORITE,26.0800,49.8100,SAUDI ARAMCO,ONSHORE,OIL,REJUVENATING,FORELAND,6050,JURASSIC,LIMESTONE,250.0,184.0,21.0,410.0
3,MURCHISON,BRENT,UK /NORWAY,EUROPE,NORTH SEA NORTHERN,EXTENSION,61.3833,1.7500,CNR,OFFSHORE,OIL,NEARLY DEPLETED,RIFT,8988,JURASSIC,SANDSTONE,425.0,300.0,22.0,750.0
4,WEST PEMBINA,NISKU (PEMBINA L POOL),CANADA,NORTH AMERICA,WESTERN CANADA,COMPRESSION,53.2287,-115.8008,NUMEROUS,ONSHORE,OIL,UNKNOWN,FORELAND,9306,DEVONIAN,DOLOMITE,233.0,167.0,11.8,1407.0
5,UCHKYR,XV-1,UZBEKISTAN,FORMER SOVIET UNION,AMU DARYA,INVERSION/COMPRESSION/EXTENSION/EVAPORITE,40.1494,62.9906,SREDAZGAZPROM,ONSHORE,GAS,DECLINING PRODUCTION,INVERSION/RIFT,5443,JURASSIC,DOLOMITE,82.0,59.0,16.0,61.0
6,WESTHOPE SOUTH,CHARLES,USA,NORTH AMERICA,WILLISTON,COMPRESSION,48.8521,-101.0130,AMERADA HESS,ONSHORE,OIL,MATURE PRODUCTION,INTRACRATONIC,3275,CARBONIFEROUS,DOLOMITIC LIMESTONE,43.0,15.5,10.0,2.6
7,MCALLEN RANCH,LOWER VICKSBURG,USA,NORTH AMERICA,GULF OF MEXICO NORTHERN ONSHORE,GRAVITY/EXTENSION/SHALE/SYNSEDIMENTATION,26.6226,-98.3153,SHELL,ONSHORE,GAS,MATURE PRODUCTION,DELTA/PASSIVE MARGIN,9400,PALEOGENE,SANDSTONE,300.0,140.0,16.0,0.6
8,ELLIS RANCH,CLEVELAND,USA,NORTH AMERICA,ANADARKO,COMPRESSION/EROSION,36.2724,-100.7161,NUMEROUS,ONSHORE,GAS,DECLINING PRODUCTION,FORELAND,6500,CARBONIFEROUS,SHALY SANDSTONE,150.0,26.0,14.0,0.4
9,STRACHAN,LEDUC,CANADA,NORTH AMERICA,WESTERN CANADA,COMPRESSION,52.4500,-115.4286,BANF AND AQUITAINE,ONSHORE,GAS,NEARLY DEPLETED,FORELAND,12068,DEVONIAN,DOLOMITE,900.0,535.0,7.8,11.0
10,MENE GRANDE,ISNOTU,VENEZUELA,LATIN AMERICA,MARACAIBO,COMPRESSION/EROSION,9.8228,-70.9198,REPSOL YPF,ONSHORE,OIL,REJUVENATING,FORELAND,1104,NEOGENE,THINLY-BEDDED SANDSTONE,1400.0,100.0,30.0,1000.0
11,BADR EL DIN-2,BAHARIYA,NaN,NaN,NaN,EXTENSION,NaN,NaN,BAPETCO,ONSHORE,GAS-CONDENSATE,DECLINING PRODUCTION,RIFT,7546,CRETACEOUS,SANDSTONE,361.0,148.0,20.0,225.0
12,BRIDGER LAKE,DAKOTA SANDSTONE (LOWER MEMBER),NaN,NaN,NaN,COMPRESSION/EROSION,NaN,NaN,BTA OIL PRODUCERS,ONSHORE,OIL,NEARLY DEPLETED,FORELAND,15460,CRETACEOUS,SANDSTONE,270.0,35.0,12.8,79.0
13,JUDY CREEK,SWAN HILLS (JUDY CREEK A POOL),CANADA,NORTH AMERICA,WESTERN CANADA,COMPRESSION,54.4995,-115.4904,IMPERIAL OIL RESOURCES,ONSHORE,OIL,MATURE PRODUCTION,FORELAND,8540,DEVONIAN,LIMESTONE,230.0,60.0,9.0,45.0
14,ANGUS,ANGUS SAND,UK,EUROPE,NORTH SEA CENTRAL,EXTENSION/EROSION,56.1648,3.0593,AMERADA HESS,OFFSHORE,OIL,DECLINING PRODUCTION,RIFT,10130,JURASSIC,SANDSTONE,100.0,60.0,18.0,3000.0
15,SCOTT,SGIATH-PIPER,NaN,NaN,NaN,EXTENSION/EVAPORITE,NaN,NaN,NEXEN,OFFSHORE,OIL,DECLINING PRODUCTION,RIFT,9940,JURASSIC,SANDSTONE,360.0,290.0,16.0,100.0
16,HEERA,BASSEIN (ZONE B),INDIA,NaN,NaN,EXTENSION,18.1720,72.3130,ONGC,OFFSHORE,OIL,DECLINING PRODUCTION,PASSIVE MARGIN,4542,PALEOGENE,LIMESTONE,230.0,82.0,12.0,0.8
17,HUGOTON-PANHANDLE,CHASE (HUGOTON),USA,NORTH AMERICA,ANADARKO,COMPRESSION/EROSION,37.0386,-101.0039,NUMEROUS,ONSHORE,GAS,DECLINING PRODUCTION,FORELAND,1700,PERMIAN,DOLOMITE,240.0,45.0,14.0,5.0
18,CUSIANA,MIRADOR,COLOMBIA,LATIN AMERICA,LLANOS,COMPRESSION/SHALE,5.0299,-72.6719,BP AND OTHERS,ONSHORE,OIL,DECLINING PRODUCTION,THRUST/SUB-THRUST/FORELAND,13000,PALEOGENE,SANDSTONE,400.0,200.0,9.0,100.0
19,CLYDE,FULMAR,UK,EUROPE,NORTH SEA CENTRAL,GRAVITY/EVAPORITE/EXTENSION,56.4500,2.2833,TALISMAN,OFFSHORE,OIL,NEARLY DEPLETED,SALT/RIFT,11787,JURASSIC,THINLY-BEDDED SANDSTONE,650.0,390.0,20.0,350.0

In [333]:
df[df['Hydrocarbon type'] == 'OIL']

,Field name,Reservoir unit,Country,Region,Basin name,Tectonic regime,Latitude,Longitude,Operator company,Onshore/Offshore,Hydrocarbon type,Reservoir status,Structural setting,Depth,Reservoir period,Lithology,Thickness (gross average ft),Thickness (net pay average ft),Porosity,Permeability
0,ZHIRNOV,MELEKESKIAN,RUSSIA,FORMER SOVIET UNION,VOLGA-URAL,COMPRESSION/EVAPORITE,51.0000,44.8042,NIZHNEVOLZHSKNET,ONSHORE,OIL,DECLINING PRODUCTION,FORELAND,1870,CARBONIFEROUS,SANDSTONE,262.0,33.0,24.0,30.0
1,LAGOA PARDA,LAGOA PARDA (URUCUTUCA),BRAZIL,LATIN AMERICA,ESPIRITO SANTO,EXTENSION,-19.6017,-39.8332,PETROBRAS,ONSHORE,OIL,NEARLY DEPLETED,PASSIVE MARGIN,4843,PALEOGENE,SANDSTONE,2133.0,72.0,23.0,350.0
2,ABQAIQ,ARAB D,SAUDI ARABIA,MIDDLE EAST,THE GULF,COMPRESSION/EVAPORITE,26.0800,49.8100,SAUDI ARAMCO,ONSHORE,OIL,REJUVENATING,FORELAND,6050,JURASSIC,LIMESTONE,250.0,184.0,21.0,410.0
3,MURCHISON,BRENT,UK /NORWAY,EUROPE,NORTH SEA NORTHERN,EXTENSION,61.3833,1.7500,CNR,OFFSHORE,OIL,NEARLY DEPLETED,RIFT,8988,JURASSIC,SANDSTONE,425.0,300.0,22.0,750.0
4,WEST PEMBINA,NISKU (PEMBINA L POOL),CANADA,NORTH AMERICA,WESTERN CANADA,COMPRESSION,53.2287,-115.8008,NUMEROUS,ONSHORE,OIL,UNKNOWN,FORELAND,9306,DEVONIAN,DOLOMITE,233.0,167.0,11.8,1407.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,WESTHOPE SOUTH,SPEARFISH,USA,NORTH AMERICA,WILLISTON,COMPRESSION,48.8521,-101.0130,AMERADA HESS,ONSHORE,OIL,MATURE PRODUCTION,INTRACRATONIC,3275,TRIASSIC,SANDSTONE,43.0,15.5,14.0,13.5
303,EMMA,SAN ANDRES,USA,NORTH AMERICA,PERMIAN,COMPRESSION,32.1270,-102.6353,EXXONMOBIL,ONSHORE,OIL,NEARLY DEPLETED,FORELAND,4185,PERMIAN,DOLOMITE,350.0,40.0,8.0,3.0
306,ALTAMONT-BLUEBELL,GREEN RIVER AND COLTON/WASATCH,USA,NORTH AMERICA,UINTA,COMPRESSION,40.3000,-110.2100,NUMEROUS,ONSHORE,OIL,MATURE PRODUCTION,FORELAND,15250,PALEOGENE,SANDSTONE,8000.0,575.0,5.0,0.1
307,BELL CREEK,MUDDY,USA,NORTH AMERICA,POWDER RIVER,COMPRESSION,45.1039,-105.0967,SAMUEL GARY,ONSHORE,OIL,NEARLY DEPLETED,FORELAND,4300,CRETACEOUS,SANDSTONE,45.0,23.0,28.5,2250.0
308,WELL DRAW,MESAVERDE (TEAPOT SAND),USA,NORTH AMERICA,POWDER RIVER,COMPRESSION,43.0060,-105.1392,MATRIX PRODUCTION AND OTHERS,ONSHORE,OIL,MATURE PRODUCTION,FORELAND,6367,CRETACEOUS,SANDSTONE,110.0,17.0,14.0,4.3

In [334]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Field name                      309 non-null    object
 1   Reservoir unit                  309 non-null    object
 2   Country                         282 non-null    object
 3   Region                          271 non-null    object
 4   Basin name                      271 non-null    object
 5   Tectonic regime                 309 non-null    object
 6   Latitude                        282 non-null    float64
 7   Longitude                       279 non-null    float64
 8   Operator company                309 non-null    object
 9   Onshore/Offshore                309 non-null    object
 10  Hydrocarbon type                309 non-null    object
 11  Reservoir status                309 non-null    object
 12  Structural setting              309 non-null    object
 13  Depth                           309 non-null    int64
 14  Reservoir period                309 non-null    object
 15  Lithology                       309 non-null    object
 16  Thickness (gross average ft)    309 non-null    float64
 17  Thickness (net pay average ft)  309 non-null    float64
 18  Porosity                        309 non-null    float64
 19  Permeability                    309 non-null    float64
dtypes: float64(6), int64(1), object(13)
memory usage: 48.4+ KB

**1 Подсчитайте количество пропусков в каждой колонке данного DataFrame.**

In [335]:
df.isna().sum()

Field name                         0
Reservoir unit                     0
Country                           27
Region                            38
Basin name                        38
Tectonic regime                    0
Latitude                          27
Longitude                         30
Operator company                   0
Onshore/Offshore                   0
Hydrocarbon type                   0
Reservoir status                   0
Structural setting                 0
Depth                              0
Reservoir period                   0
Lithology                          0
Thickness (gross average ft)       0
Thickness (net pay average ft)     0
Porosity                           0
Permeability                       0
dtype: int64

In [336]:
columns = df.columns
for i in columns:
  print("Пустых значений в",i,df[i].isna().sum())

Пустых значений в Field name 0
Пустых значений в Reservoir unit 0
Пустых значений в Country 27
Пустых значений в Region 38
Пустых значений в Basin name 38
Пустых значений в Tectonic regime 0
Пустых значений в Latitude 27
Пустых значений в Longitude 30
Пустых значений в Operator company 0
Пустых значений в Onshore/Offshore 0
Пустых значений в Hydrocarbon type 0
Пустых значений в Reservoir status 0
Пустых значений в Structural setting 0
Пустых значений в Depth 0
Пустых значений в Reservoir period 0
Пустых значений в Lithology 0
Пустых значений в Thickness (gross average ft) 0
Пустых значений в Thickness (net pay average ft) 0
Пустых значений в Porosity 0
Пустых значений в Permeability 0

**2 Подсчитайте сколько уникальных значений в колонке Hydrocarbon type и сколько раз каждое уникальное значение встречается в данном DataFrame.**

In [337]:
#уникальные значения:
df['Hydrocarbon type'].unique()

array(['OIL', 'GAS', 'GAS-CONDENSATE', 'CARBON DIOXIDE'], dtype=object)

In [338]:
#количество уникальных значений
count = len(df['Hydrocarbon type'].unique())
count

4

In [339]:
#сколько раз встречается кажое из уникальных значений
oil_count = 0
gas_count = 0
gas_condensate_count = 0
carbon_dioxide_count = 0

oil_count = len(df[df['Hydrocarbon type'] == 'OIL'])
gas_count = len(df[df['Hydrocarbon type'] == 'GAS'])
gas_condensate_count = len(df[df['Hydrocarbon type'] == 'GAS-CONDENSATE'])
carbon_dioxide_count = len(df[df['Hydrocarbon type'] == 'CARBON DIOXIDE'])

print("Значение OIL встречается ", oil_count ," раз(а)")
print("Значение GAS встречается ", gas_count," раз(а)")
print("Значение GAS-CONDENSATE встречается ", gas_condensate_count," раз(а)")
print("Значение CARBON DIOXIDE встречается ", carbon_dioxide_count," раз(а)")

Значение OIL встречается  231  раз(а)
Значение GAS встречается  46  раз(а)
Значение GAS-CONDENSATE встречается  30  раз(а)
Значение CARBON DIOXIDE встречается  2  раз(а)

**Закодируйте колонку Hydrocarbon type двумя способами: LabelEncoder() и get_dummies().**

In [340]:
# с помощью get_dummies():
df.head()

,Field name,Reservoir unit,Country,Region,Basin name,Tectonic regime,Latitude,Longitude,Operator company,Onshore/Offshore,Hydrocarbon type,Reservoir status,Structural setting,Depth,Reservoir period,Lithology,Thickness (gross average ft),Thickness (net pay average ft),Porosity,Permeability
0,ZHIRNOV,MELEKESKIAN,RUSSIA,FORMER SOVIET UNION,VOLGA-URAL,COMPRESSION/EVAPORITE,51.0000,44.8042,NIZHNEVOLZHSKNET,ONSHORE,OIL,DECLINING PRODUCTION,FORELAND,1870,CARBONIFEROUS,SANDSTONE,262.0,33.0,24.0,30.0
1,LAGOA PARDA,LAGOA PARDA (URUCUTUCA),BRAZIL,LATIN AMERICA,ESPIRITO SANTO,EXTENSION,-19.6017,-39.8332,PETROBRAS,ONSHORE,OIL,NEARLY DEPLETED,PASSIVE MARGIN,4843,PALEOGENE,SANDSTONE,2133.0,72.0,23.0,350.0
2,ABQAIQ,ARAB D,SAUDI ARABIA,MIDDLE EAST,THE GULF,COMPRESSION/EVAPORITE,26.0800,49.8100,SAUDI ARAMCO,ONSHORE,OIL,REJUVENATING,FORELAND,6050,JURASSIC,LIMESTONE,250.0,184.0,21.0,410.0
3,MURCHISON,BRENT,UK /NORWAY,EUROPE,NORTH SEA NORTHERN,EXTENSION,61.3833,1.7500,CNR,OFFSHORE,OIL,NEARLY DEPLETED,RIFT,8988,JURASSIC,SANDSTONE,425.0,300.0,22.0,750.0
4,WEST PEMBINA,NISKU (PEMBINA L POOL),CANADA,NORTH AMERICA,WESTERN CANADA,COMPRESSION,53.2287,-115.8008,NUMEROUS,ONSHORE,OIL,UNKNOWN,FORELAND,9306,DEVONIAN,DOLOMITE,233.0,167.0,11.8,1407.0

In [341]:
kolonka1 = df['Hydrocarbon type']
kolonka2 = df['Hydrocarbon type']

In [342]:
#с помощью get_dummies:
from pandas import get_dummies
df = get_dummies(kolonka1)
df
#df.head()

     CARBON DIOXIDE  GAS  GAS-CONDENSATE  OIL
0                 0    0               0    1
1                 0    0               0    1
2                 0    0               0    1
3                 0    0               0    1
4                 0    0               0    1
..              ...  ...             ...  ...
304               0    0               1    0
305               0    1               0    0
306               0    0               0    1
307               0    0               0    1
308               0    0               0    1

[309 rows x 4 columns]

In [343]:
#с помощью LabelEncoder()
import sklearn
from sklearn.preprocessing import LabelEncoder