In [71]:
import pandas as pd

xtrain= 'https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_2/main/work_Pandas/X_train.csv'
studsinf ="https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_2/main/work_Pandas/studs_info.csv"
ytrain = "https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_2/main/work_Pandas/y_train.csv"
zachet ="https://raw.githubusercontent.com/Adelaaas/Data_science_basic_22-23_2/main/work_Pandas/zachety.csv"
X_train = pd.read_csv(xtrain)
studs_info = pd.read_csv(studsinf)
zachety = pd.read_csv(zachet)
y_train = pd.read_csv(ytrain)
print(y_train)

         index  mark
0        51081     5
1        72921     5
2        96438     5
3       273044     4
4       371309     3
...        ...   ...
105053  224856     3
105054  260998     3
105055   57245     4
105056  218529     4
105057  233318     4

[105058 rows x 2 columns]

1.Посмотреть размерность дата фреймов.

In [138]:
print(X_train.shape)
print(studs_info.shape)
print(zachety.shape)
print(y_train.shape)

(105058, 8)
(5466, 13)
(133223, 8)
(105058, 2)

2.Соедить два датафрейма X_train и y_train в один train по индексам.

In [139]:
train=pd.concat([X_train, y_train ], axis=1)
train

,Unnamed: 0,STD_ID,НАПРАВЛЕНИЕ,ГОД,КУРС,СЕМЕСТР,АТТЕСТАЦИЯ,ДИСЦИПЛИНА,index,mark
0,51081,175711,38.03.02 Менеджмент,2018-2019,2.0,4.0,Экзамен,Маркетинг,51081,5
1,72921,100647,31.05.01 Лечебное дело,2015-2016,3.0,5.0,Экзамен,"Пропедевтика внутренних болезней, лучевая диаг...",72921,5
2,96438,199311,31.05.03 Стоматология,2019-2020,1.0,1.0,Экзамен,Химия,96438,5
3,273044,162002,38.03.02 Менеджмент,2017-2018,2.0,3.0,Экзамен,Статистика,273044,4
4,371309,108384,31.05.01 Лечебное дело,2018-2019,5.0,9.0,Экзамен,Педиатрия,371309,3
...,...,...,...,...,...,...,...,...,...,...
105053,224856,176141,40.03.01 Юриспруденция,2017-2018,1.0,2.0,Курсовая работа,Конституционное право,224856,3
105054,260998,182794,31.05.01 Лечебное дело,2018-2019,2.0,4.0,Экзамен,Нормальная физиология,260998,3
105055,57245,162391,31.05.01 Лечебное дело,2016-2017,1.0,2.0,Дифференцированный зачет,Иностранный язык,57245,4
105056,218529,202479,38.03.01 Экономика,2017-2018,1.0,1.0,Дифференцированный зачет,Информатика,218529,4
105057,233318,182325,08.03.01 Строительство,2018-2019,2.0,3.0,Курсовая работа,Технологические процессы в строительстве,233318,4

3.Посчитать пропуски в датафрейме studs_info.

In [73]:
studs_info.isna().sum()

STD_ID                            0
   number                         1
Пол                               1
Статус                            1
Дата выпуска                   5002
Категория обучения                1
Форма обучения                    1
Шифр                              1
направление (специальность)       1
                                191
Образование                     191
Дата выдачи                     240
Что именно закончил             191
dtype: int64

4.Посчитать сколько мужчин, сколько женщин в датафрейме studs_info.

In [140]:
studs_info['Пол'].value_counts()

Ж    3192
М    2273
Name: Пол, dtype: int64

5.Создать новый датафрейм из studs_info, в котором будут только мужчины 2019-06-30 года выпуска.

In [35]:
studs_info['Пол']=='М'
musch=studs_info[studs_info['Пол']=='М']
musch["Дата выдачи"]=='2019-06-30 00:00:00'
musch[musch["Дата выдачи"]=='2019-06-30 00:00:00']

,STD_ID,number,Пол,Статус,Дата выпуска,Категория обучения,Форма обучения,Шифр,направление (специальность),,Образование,Дата выдачи,Что именно закончил
1287,201213,8674.0,М,СТ,NaN,ДОГ,Д,40.03.01,Юриспруденция,7831.0,СР,2019-06-30 00:00:00,"СРЕДНЯЯ ШКОЛА N 33, НОВГОРОД"
1370,200383,8007.0,М,СТ,NaN,ДОГ,Д,40.03.01,Юриспруденция,7757.0,СР,2019-06-30 00:00:00,"СРЕДНЯЯ ШКОЛА N 33, НОВГОРОД"

6.Разложить колонку "Дата выдачи" на четыре: Год выдачи, Месяц выдачи, День выдачи, Время выдачи.

In [136]:
#studs_info['Дата выдачи'].str.split('-')
new_df = studs_info['Дата выдачи'].str.split(' ',expand=True)
new_df.columns=['Дата','Время']
#studs_info
new_df
newdf=new_df['Дата'].str.split('-',expand=True)
newdf.columns=['Год','Месяц', "День"]
newdf
final_df = pd.concat([studs_info,newdf,new_df['Время']],axis=1)

final_df = final_df.drop('Дата выдачи',axis=1)
final_df

,STD_ID,number,Пол,Статус,Дата выпуска,Категория обучения,Форма обучения,Шифр,направление (специальность),,Образование,Что именно закончил,Год,Месяц,День,Время
0,99136,13951.0,Ж,ВЫП,2019-08-31,БП,Д,31.05.01,Лечебное дело,2629.0,СР,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА,2013,06,26,00:00:00
1,99112,13998.0,Ж,ВЫП,2019-08-31,БП,Д,31.05.01,Лечебное дело,8240.0,СР,"МОУ СОШ N 2, ПЕСТОВО",2012,06,23,00:00:00
2,99109,13999.0,Ж,ВЫП,2019-08-31,БП,Д,31.05.01,Лечебное дело,2314.0,СР,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА,2013,06,25,00:00:00
3,99125,13953.0,Ж,ВЫП,2019-08-31,БП,Д,31.05.01,Лечебное дело,2345.0,СР,"Гимназия ""ГАРМОНИЯ""",2013,06,23,00:00:00
4,100676,13950.0,М,ВЫП,2019-08-31,БП,Д,31.05.01,Лечебное дело,2650.0,СР,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА,2012,06,29,00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5461,100678,978.0,Ж,СТ,NaN,БП,Д,31.05.01,Лечебное дело,2388.0,СР,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА,2013,06,21,00:00:00
5462,100663,1021.0,Ж,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,2554.0,СР,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА,2013,06,27,00:00:00
5463,191630,6447.0,Ж,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,6692.0,СР,ИНОГОРОДНЯЯ СРЕДНЯЯ ШКОЛА,2014,05,31,00:00:00
5464,191625,3765.0,Ж,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5465,194978,5245.0,Ж,СТ,NaN,ДОГ,Д,31.05.01,Лечебное дело,NaN,NaN,NaN,NaN,NaN,NaN,NaN

7.Посчитать сколько уникальных значений в колонке studs_info['Статус'] и сколько раз каждое значение встречается в датафрейм.

In [51]:
print(len(studs_info['Статус'].unique()))
studs_info['Статус'].value_counts()

3

СТ     5001
ВЫП     464
Name: Статус, dtype: int64

8.Посчитать сколько раз какая оценка встречатся в датафрейм y_train.

In [102]:
 y_train['mark'].value_counts()

4    42217
5    41085
3    21756
Name: mark, dtype: int64

9.Посчитать средний балл для студента с ID=175711 по всем предметам.

In [101]:
sr=(train[train['STD_ID']==175711]['mark'].sum())/len(train[train['STD_ID']==175711])
sr

4.181818181818182

10.Удалить любую ненужны колонку на ваш вгляд из датафрейм train.

In [137]:
train.drop(columns = ['ДИСЦИПЛИНА'])

,Unnamed: 0,STD_ID,НАПРАВЛЕНИЕ,ГОД,КУРС,СЕМЕСТР,АТТЕСТАЦИЯ,index,mark
0,51081,175711,38.03.02 Менеджмент,2018-2019,2.0,4.0,Экзамен,51081,5
1,72921,100647,31.05.01 Лечебное дело,2015-2016,3.0,5.0,Экзамен,72921,5
2,96438,199311,31.05.03 Стоматология,2019-2020,1.0,1.0,Экзамен,96438,5
3,273044,162002,38.03.02 Менеджмент,2017-2018,2.0,3.0,Экзамен,273044,4
4,371309,108384,31.05.01 Лечебное дело,2018-2019,5.0,9.0,Экзамен,371309,3
...,...,...,...,...,...,...,...,...,...
105053,224856,176141,40.03.01 Юриспруденция,2017-2018,1.0,2.0,Курсовая работа,224856,3
105054,260998,182794,31.05.01 Лечебное дело,2018-2019,2.0,4.0,Экзамен,260998,3
105055,57245,162391,31.05.01 Лечебное дело,2016-2017,1.0,2.0,Дифференцированный зачет,57245,4
105056,218529,202479,38.03.01 Экономика,2017-2018,1.0,1.0,Дифференцированный зачет,218529,4
105057,233318,182325,08.03.01 Строительство,2018-2019,2.0,3.0,Курсовая работа,233318,4