In [17]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [4]:
train = pd.read_csv('train.csv', sep=',')
train = train.dropna(axis = 0, how = 'any')
train

                  datetime        total
1      01.01.2005 01:00:00  154139.8084
2      01.01.2005 02:00:00  157818.3593
3      01.01.2005 03:00:00  149310.6991
4      01.01.2005 04:00:00  138282.0380
5      01.01.2005 05:00:00  132032.7479
...                    ...          ...
35059  31.12.2008 19:00:00  249376.3608
35060  31.12.2008 20:00:00  246510.5725
35061  31.12.2008 21:00:00  226469.4133
35062  31.12.2008 22:00:00  199907.3942
35063  31.12.2008 23:00:00  151086.2414

[34946 rows x 2 columns]

In [16]:
tmp = np.array(map(lambda x: int(x.split('.')[1]), train['datetime']))
train['month'] = tmp 
hour = np.array(map(lambda x: int(x.split(' ')[1][:2]), train['datetime']))
train['Hour'] = hour
train

                  datetime        total month Hour
1      01.01.2005 01:00:00  154139.8084     1    1
2      01.01.2005 02:00:00  157818.3593     1    2
3      01.01.2005 03:00:00  149310.6991     1    3
4      01.01.2005 04:00:00  138282.0380     1    4
5      01.01.2005 05:00:00  132032.7479     1    5
...                    ...          ...   ...  ...
35059  31.12.2008 19:00:00  249376.3608    12   19
35060  31.12.2008 20:00:00  246510.5725    12   20
35061  31.12.2008 21:00:00  226469.4133    12   21
35062  31.12.2008 22:00:00  199907.3942    12   22
35063  31.12.2008 23:00:00  151086.2414    12   23

[34946 rows x 4 columns]

In [23]:
Kitsuragi = LinearRegression()
x_train = train.drop(columns = ['total', 'datetime'])
y_train = train['total']
Kitsuragi.fit(x_train, y_train)

LinearRegression()

In [24]:
test = pd.read_csv('sample.csv', sep = ',')

In [32]:
tmp = np.array(map(lambda x: int(x.split('.')[1]), test['datetime']))
test['month'] = tmp 
hour = np.array(map(lambda x: int(x.split(' ')[1][:2]), test['datetime']))
test['Hour'] = hour
test_x = test.drop(columns = ['datetime', 'total'])
ans = Kitsuragi.predict(test_x)
test['total'] = ans
test = test.drop(columns = ['month', 'Hour'])
test

                 datetime          total
0     01.01.2009 00:00:00  138095.689790
1     01.01.2009 01:00:00  142541.934468
2     01.01.2009 02:00:00  146988.179147
3     01.01.2009 03:00:00  151434.423825
4     01.01.2009 04:00:00  155880.668504
...                   ...            ...
4339  30.06.2009 19:00:00  218837.836379
4340  30.06.2009 20:00:00  223284.081058
4341  30.06.2009 21:00:00  227730.325736
4342  30.06.2009 22:00:00  232176.570415
4343  30.06.2009 23:00:00  236622.815094

[4344 rows x 2 columns]

Test - это ответ